@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Fira+Mono&family=Fira+Sans:wght@300&family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/calibre');
@import url('https://fonts.cdnfonts.com/css/sf-mono');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --bgColor: rgb(10, 25, 47);
  /* --typingSpeed: 6s; */
  --text: rgb(136, 146, 176);
  /* --opc: 0; */
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgColor);
  color: var(--text) !important;
  font-family: 'Calibre', 'Fira Sans', -apple-system, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

header {
  width: 100%;
  padding: 0px 18px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000000;
  transition: .5s linear;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

nav {
  height: 100%;
  transition: .8s;
}

main {
  width: 100%;
  padding: 0px 10%;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

img {
  border-radius: 5px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .6s linear;
}

a:hover {
  color: #64ffdba6;
}

a:active {
  color: #64ffda;
}

.active {
  color: #64ffda !important;
}

.myNavFont {
  color: var(--text);
  font-size: 14px;
  transition: .3s;
}

.myNavFont span {
  margin-right: 5px;
}

.myNavFont:hover {
  color: rgba(83, 211, 185, .95);
}

.myNavFont:focus {
  color: #64ffda;
}

.nos {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
  margin-right: 10px;
}

.myFont {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.spText {
  color: #64ffda;
  text-decoration: none !important;
  margin: 0 !important;
  padding: 0 !important ;
}

.bi {
  transition: .2s;
}

.bi:active {
  color: #64ffdb80;
}

.myBtn {
  border-color: #64ffda;
  color: #64ffda;
  transition: .6s linear;
}

.myBtn:hover {
  color: #64ffda;
  background-color: rgba(83, 211, 185, .18);
}

.myBtn:active {
  background-color: rgba(83, 211, 185, .6);
  outline: #64ffda ridge 2px;
}

.myBtn:focus {
  outline: #64ffda ridge 2px;
}

.myCard {
  background-color: #112240;
  border-radius: 5px;
  /* height: 350px !important; */
}

#intro {
  padding: 0;
  margin-top: 50px;
}

#intro div {
  width: fit-content;
  width: -moz-fit-content;
}

#intro div h1 {
  font-size: 4vmin;
  color: #64ffda;
  margin-left: 6px;
  margin-bottom: 25px;
}

#intro h2 {
  margin: 0;
  color: #ccd6f6;
  font-size: 11vmin;
  font-weight: 600;
  line-height: 88%;
  width: fit-content;
  width: -moz-fit-content;
}

#intro div h3 {
  margin: 0;
  margin-top: 8px;
  font-size: 11vmin;
  font-weight: 600;
  line-height: 88%;
  width: 40vw;
}

#intro div p {
  margin: 0;
  margin-top: 20px;
  width: 80%;
}

#intro div a {
  margin: 0;
  margin-top: 50px;
  padding: 10px 11px 4px 10px;
}

#firstContent {
  max-width: 650px;
}

.sections {
  font-weight: 600;
  font-size: 32px;
  line-height: 35px;
  color: #ccd6f6;
}

#about {
  padding: 100px 0;
  margin: 0 80.6px;
}

#about h2 {
  margin: 10px 0px 40px 0px;
}

#about h2 span {
  font-size: 22px;
  font-weight: lighter;
}

#about div {
  width: fit-content;
  width: -moz-fit-content;
}

#about div p {
  margin: 0px 0px 15px 0px;
  /* width: 441.35px; */
}

.wrapper {
  border: 2px solid #64ffda;
  border-radius: 5px;
  overflow: hidden;
}

#education {
  padding: 100px 0;
  margin: 0 42.8px;
}

#education h2 {
  margin: 10px 0 40px 0;
}

#education h2 span {
  font-size: 22px;
  font-weight: lighter;
}

#education .col h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}

#education h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

#education h4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  color: #ccd6f6;
}

#education #div1 h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

#skills {
  padding: 100px 0;
}

#skills h2 span {
  font-size: 22px;
  font-weight: lighter;
}

#techs {
  width: 50%;
  list-style-type: none;
}

.tech-items::before {
  content: "\2023";
  color: #64ffda;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#contact {
  padding: 100px 0;
  margin-bottom: 10%;
}

#contact h2 {
  font-size: 10vmin;
}

#contact h2 span {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

footer {
  padding: 15px;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

footer a {
  font-size: 12px;
  line-height: 12px;
}

footer a:hover {
  color: #64ffda;
}

#footer {
  margin-bottom: 18px !important;
}

#social a {
  transition: .2s;
}

.line {
  background-color: #8892B0;
  width: 1.5px;
  height: 20vh;
}

#num {
  font-size: 16px;
}

#git {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}

/* Media Queries */
@media screen and (max-width: 520px) {
  #intro div h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #intro div p {
    width: 100%;
  }

  #about {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #about div p {
    width: 80vw;
  }

  #lofi img {
    width: 100%;
    height: 100%;
  }

  #lofi .wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  #education {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #education #div2 {
    margin-top: 30px;
  }

  #skills {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #contact h2 span {
    margin-bottom: 5% !important;
  }

  #contact p {
    font-size: smaller;
  }

  #personal p {
    word-break: break-all;
  }

  #div2 {
    word-break: break-all;
  }

  #about div p {
    word-break: break-all;
  }
}

@media screen and (min-width: 991px) {
  .navTabs {
    position: absolute;
    right: 0;
  }

  #techs {
    width: 50% !important;
  }

  #social {
    width: fit-content;
    width: -moz-fit-content;
  }
}

@media screen and (max-width: 992px) {
  header {
    height: auto !important;
  }

  #gif {
    display: none;
  }

  #footer {
    position: relative;
  }
  
  #social {
    position: absolute !important;
    top: -100%;
    height: fit-content;
  }
}

@media screen and (min-width: 521px) and (max-width: 992px) {
  #lofi {
    display: none;
  }

  #about {
    margin-left: 0;
  }
  
  #firstContent #myName {
    width: 110%;
  }

  #firstContent div h3 {
    width: 110%;
  }
}

@media screen and (min-width: 923px) and (max-width: 1200px) {
  #firstContent #myName {
    width: 150%;
  }

  #firstContent div h3 {
    width: 150%;
  }

  #gif {
    display: none;
  }

  #about {
    margin-left: 3%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1379px) {
  #gif img {
    width: 50vh;
    height: 50vh;
  }
}

/* TypeWriting Animation */
/* #intro div h1, #intro div h2, #intro div h3, #intro div p {
  position: relative;
}

#intro div h1::before, #intro div h1::after, #intro div h2::before, #intro div h2::after, #intro div h3::before, h3::before, #intro div p::before, #intro div p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro div h1::before {
  top: -50%;
  height: 200%;
  background: var(--bgColor);
  animation: type var(--typingSpeed) steps(15) 1s forwards;
}

#intro div h1::after {
  top: -50%;
  height: 200%;
  width: 0.125em;
  background: var(--text);
  opacity: var(--opc);
  transition: opacity .8s;
  animation: type var(--typingSpeed) steps(15) 1s forwards, cursor 750ms linear infinite;
}

#intro div h2::before {
  top: -15%;
  height: 105%;
  background: var(--bgColor);
  animation: type var(--typingSpeed) steps(15) 1s forwards;
}

#intro div h2::after {
  top: -15%;
  height: 105%;
  width: 0.125em;
  background: var(--text);
  opacity: var(--opc);
  transition: opacity .8s;
  animation: type var(--typingSpeed) steps(15) 1s forwards,
    cursor 750ms linear infinite;
}

@keyframes type {
  to {
    left: 100%;
  }
}

@keyframes cursor {
  to {
    background: transparent;
  }

  49% {
    background: initial;
  }

  99% {
    background: initial;
  }
} */

